/*base*/
body {
  background: #fff;
}
input,
textarea,
body {
  color: #444;
  font-size: 12px;
  font-family: Arial,Helvetica,sans-serif;
}
a {
  color: #1b66ff;
}
a:hover {
  color: #ff761b;
}
::selection {
  background: #0784ad; 
  color: #fff; 
}
::-moz-selection {
  background: #0784ad; 
  color: #fff; 
}
/*layout*/



#demo {
  width: 900px;
  margin: 0 auto;
  padding: 50px;
}

.b-sselect select {
  display: none;
}
.sselect {
  position: relative;
  height: 20px;
  width: 200px;
}
.sselect-text {
  position: relative;
  height: 20px;
}
.sselect-text .txt {
  display: block;
  height: 18px;
  border: 1px solid #999;
  padding: 0 23px 0 6px;
  line-height: 18px;
  background: #e8e8e8;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fefefe), to(#e7e7e7));
  background: -webkit-linear-gradient(#fefefe, #e7e7e7);
  background: -moz-linear-gradient(#fefefe, #e7e7e7);
  background: -ms-linear-gradient(#fefefe, #e7e7e7);
  background: -o-linear-gradient(#fefefe, #e7e7e7);
  background: linear-gradient(#fefefe, #e7e7e7);
  color: #333333;
  font-size: 11px;
}
.sselect-open .txt {
  border-bottom: none;
}
.sselect-text i {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 19px;
  height: 20px;
  background: url('../images/sselect.png') no-repeat 0 0;
}
.sselect-list {
  position: absolute;
  left: 0;
  top: -11119px;
  width: 100%;
  background: #e7e7e7;
}
.sselect-open .sselect-list {
  top: 19px;
}
.sselect-ul {
  border: 1px solid #999;
  border-top: none;
}
.sselect-ul a {
  display: block;
  padding: 1px 6px;
  text-decoration: none;
  color: #333 !important;
  font-weight: normal !important;
}
.sselect-ul a:hover {
  background: #dfdddd;
}
.sselect-ul .selected a {
  background: #125dbb;
  color: #fff !important;
}